.cart {
  background-color: #31b572;
  color: white;
  padding: 32px;
}
.cartAddButton {
	margin-left: 32px;
	cursor: pointer;
}

.cartToggleButton {
	background: none;
	outline: none;
	border: none;
	font-weight: 600;
	cursor: pointer;
	align-self: self-start;
	padding: 0;
	color: white;
}

.cartClosed {
	padding: 32px;
	width: 200px;
}

.cartClosed > button {
	color: black;
}