.plantItemCover {
	height: 220px;
	width: 220px;
	border-radius: 20px;
}

.plantItem {
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
}

.plantItemContainer {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
 
    padding: 10px;
    margin: 10px;
	
}
