.banner {
  background-color: #EE6055;
  text-align: right;
	padding: 32px;
	border-bottom: solid 1px #EE6055;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;
}

.title {
  color: #f8f8f8;
  font-size: 2rem;
}

.bannerLogo {
  height: 60px;
  width: auto;
  margin-right: 10px;
}
